body {
    background-image: url("https://c0.wallpaperflare.com/preview/18/189/150/barbell-building-challenge-dark.jpg");
    background-size: cover;
    font-family: 'Open Sans', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    color: black;
    height: 100vh;
}

.container {
    background: white;
    max-width: 50%;
    margin: auto;
    border: 3px solid black;
    border-radius: 10px;
}
    
h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: ;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: darkcyan;
}

#save-btn {
    background: darkorange;
}

